@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line:hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--Very-dark-blue-BG);
  color: var(--White);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

main {
  margin-top: auto;
}
main .nft-container {
  max-width: 300px;
  background-color: var(--Very-dark-blue-card-BG);
  padding: 20px;
  border-radius: 10px;
}
main .nft-container .nft-images {
  max-width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}
main .nft-container .nft-images .nft {
  max-inline-size: 100%;
  border-radius: 10px;
}
main .nft-container .nft-images .overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  visibility: hidden;
  opacity: 0.5;
  background-color: var(--Cyan);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .nft-container .nft-images:hover .overlay-div {
  visibility: visible;
}
main .nft-container .nft-images:hover .image-overlay {
  position: absolute;
  top: 42%;
  left: 42%;
}
main .nft-container .header {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
}
main .nft-container .header:hover {
  color: var(--Cyan);
  cursor: pointer;
}
main .nft-container .description {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 20px;
}
main .nft-container .price-and-dayleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--Very-dark-blue-line);
}
main .nft-container .price-and-dayleft .item-and-price {
  display: flex;
  align-items: center;
  color: var(--Cyan);
}
main .nft-container .price-and-dayleft .item-and-price img {
  margin-right: 10px;
}
main .nft-container .price-and-dayleft .days-left {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 100;
}
main .nft-container .price-and-dayleft .days-left img {
  margin-right: 5px;
}
main .nft-container .creator-info {
  display: flex;
  align-items: center;
}
main .nft-container .creator-info img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 1px solid var(--White);
  border-radius: 50%;
  margin-right: 10px;
}
main .nft-container .creator-info .creator-name {
  font-size: 1rem;
  font-weight: 100;
}
main .nft-container .creator-info .creator-name .creation-of:hover, main .nft-container .creator-info .creator-name .creation-of:active, main .nft-container .creator-info .creator-name .creation-of:focus {
  color: var(--Cyan);
  font-weight: 300;
  cursor: pointer;
}

footer {
  margin-top: auto;
}

/*# sourceMappingURL=styles.css.map */
